<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Login From</h1>
        <div>
        	<div>
        		<label>Name
          			<input type="text" formControlName="name">
        		</label>
        	</div>
			<div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
        </div>
        
        <div>
        	<div>
        		<label>Password
          			<input type="password" formControlName="password"/>
        		</label>
        	</div>		
			<div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">{{ titleAlert }}</div>
        </div>
 
 		<div>       
        	<input type="checkbox" name="validate" formControlName="validate" value="1"> Remember me
        </div>
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ password }}</p>
    </div>
  </div>
</ng-template>